body {
    justify-content: center;
    align-items: center;
    background: url('../assests/bg.jpg') no-repeat center center fixed;
    background-size: cover;
    min-height: 100vh;
    color: rgba(255, 255, 255, 0.875);
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
}
